{%  extends 'layout.html.twig' %}

{% block content %}

    <section>
        <article>
            <h1>{{ article.title }}</h1>
            
            {% if article.photo is defined %}
                <img src="{{ asset('uploads/photos/' ~ article.photo) }}" class="img-fluid">
            {% endif %}
            
            <p>
                le : {{ article.createdAt | date('d/m/Y') }}
                par {{ article.author.fullName }}
            </p>

            <ul class="list-group list-group-horizontal">
                {% for tag in article.tags %}
                    <li class="list-group-item">{{ tag.tagName }}</li>
                {% endfor %}
            </ul>

            <p>
                {{ article.articleText }}
            </p>
        </article>

        <hr>
        <h3>Il y a {{ article.comments | length }} commentaire(s)</h3>

        <div class="row">
            <div class="col-md-4">
                {{ form(commentForm) }}
            </div>
            <div class="col-md-8">
                {% for comment in article.comments %}
                    <div>
                        <h4>Le {{ comment.createdAt | date('d/m/Y') }} par {{ comment.author }}</h4>
                        <p>{{ comment.commentText }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}