{% extends'layout.html.twig' %}

{% block content %}

    <h1 class="mt-2">Liste des articles {{ pageTitle }}</h1>

    <div class="text-right mb-2">
        <a href="{{ path('article-new') }}" class="btn btn-primary">
            Nouvel article
        </a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Commentaires</th>
        </tr>

        {% for article in articleList %}
            <tr>
                <td>
                    <a href="{{ path('article-details', {'id': article.id}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td> {{ article.author.fullName }} </td>
                <td> {{ article.comments | length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block aside %}
    {% include '_aside.html.twig' %}
{% endblock %}
